<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwl.yygh.order.mapper.OrderInfoMapper">

    <resultMap id="BaseResultMap" type="com.lwl.yygh.model.order.OrderInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="outTradeNo" column="out_trade_no" jdbcType="VARCHAR"/>
            <result property="hoscode" column="hoscode" jdbcType="VARCHAR"/>
            <result property="hosname" column="hosname" jdbcType="VARCHAR"/>
            <result property="depcode" column="depcode" jdbcType="VARCHAR"/>
            <result property="depname" column="depname" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="hosScheduleId" column="hos_schedule_id" jdbcType="VARCHAR"/>
            <result property="reserveDate" column="reserve_date" jdbcType="DATE"/>
            <result property="reserveTime" column="reserve_time" jdbcType="TINYINT"/>
            <result property="patientId" column="patient_id" jdbcType="BIGINT"/>
            <result property="patientName" column="patient_name" jdbcType="VARCHAR"/>
            <result property="patientPhone" column="patient_phone" jdbcType="VARCHAR"/>
            <result property="hosRecordId" column="hos_record_id" jdbcType="VARCHAR"/>
            <result property="number" column="number" jdbcType="INTEGER"/>
            <result property="fetchTime" column="fetch_time" jdbcType="VARCHAR"/>
            <result property="fetchAddress" column="fetch_address" jdbcType="VARCHAR"/>
            <result property="amount" column="amount" jdbcType="DECIMAL"/>
            <result property="quitTime" column="quit_time" jdbcType="TIMESTAMP"/>
            <result property="orderStatus" column="order_status" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,out_trade_no,
        hoscode,hosname,depcode,
        depname,title,hos_schedule_id,
        reserve_date,reserve_time,patient_id,
        patient_name,patient_phone,hos_record_id,
        number,fetch_time,fetch_address,
        amount,quit_time,order_status,
        create_time,update_time,is_deleted
    </sql>

    <!--List<OrderCountVo> selectOrderCount(@Param("vo") OrderCountQueryVo orderCountQueryVo);-->
    <select id="selectOrderCount" resultType="com.lwl.yygh.vo.order.OrderCountVo">
        SELECT COUNT(*) AS count, reserve_data AS reserveData
        FROM order_info
        <where>
            <if test="vo.hosname != null and vo.hosname != ''">
                and hosname like CONCAT('%',#{vo.hosname},'%')
            </if>
            <if test="vo.reserveDateBegin != null and vo.reserveDateBegin != ''">
                and reserve_date &gt;= #{vo.reserveDateBegin}
            </if>
            <if test="vo.reserveDateEnd != null and vo.reserveDateEnd != ''">
                and reserve_date &lt;= #{vo.reserveDateEnd}
            </if>
            and is_deleted = 0
        </where>
        GROUP BY reserve_date
        ORDER BY reserve_date
    </select>
</mapper>
