<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwl.yygh.user.mapper.PatientMapper">

    <resultMap id="BaseResultMap" type="com.lwl.yygh.model.user.Patient">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="certificatesType" column="certificates_type" jdbcType="VARCHAR"/>
            <result property="certificatesNo" column="certificates_no" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="TINYINT"/>
            <result property="birthdate" column="birthdate" jdbcType="DATE"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="isMarry" column="is_marry" jdbcType="TINYINT"/>
            <result property="provinceCode" column="province_code" jdbcType="VARCHAR"/>
            <result property="cityCode" column="city_code" jdbcType="VARCHAR"/>
            <result property="districtCode" column="district_code" jdbcType="VARCHAR"/>
            <result property="address" column="address" jdbcType="VARCHAR"/>
            <result property="contactsName" column="contacts_name" jdbcType="VARCHAR"/>
            <result property="contactsCertificatesType" column="contacts_certificates_type" jdbcType="VARCHAR"/>
            <result property="contactsCertificatesNo" column="contacts_certificates_no" jdbcType="VARCHAR"/>
            <result property="contactsPhone" column="contacts_phone" jdbcType="VARCHAR"/>
            <result property="cardNo" column="card_no" jdbcType="VARCHAR"/>
            <result property="isInsure" column="is_insure" jdbcType="TINYINT"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,name,
        certificates_type,certificates_no,sex,
        birthdate,phone,is_marry,
        province_code,city_code,district_code,
        address,contacts_name,contacts_certificates_type,
        contacts_certificates_no,contacts_phone,card_no,
        is_insure,status,create_time,
        update_time,is_deleted
    </sql>
</mapper>
