<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwl.yygh.user.mapper.UserInfoMapper">

    <resultMap id="BaseResultMap" type="com.lwl.yygh.model.user.UserInfo">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="openid" column="openid" jdbcType="VARCHAR"/>
            <result property="nickName" column="nick_name" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="certificatesType" column="certificates_type" jdbcType="VARCHAR"/>
            <result property="certificatesNo" column="certificates_no" jdbcType="VARCHAR"/>
            <result property="certificatesUrl" column="certificates_url" jdbcType="VARCHAR"/>
            <result property="authStatus" column="auth_status" jdbcType="TINYINT"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,openid,nick_name,
        phone,name,certificates_type,
        certificates_no,certificates_url,auth_status,
        status,create_time,update_time,
        is_deleted
    </sql>
</mapper>
